@import "reset.scss";
@import "fonts.scss";

$base-color: #880e4f;
$base-second-color: #ffffff;
$base-lighter: #bc477b;
$base-darker: #560027;
$attention-color: #a41932;
$link-color: #587dc5;
$blocks-background: rgba(86, 0, 39, 0.6);

a {
  color: $link-color;
}

body {
  font-family: "Roboto";
}

.container {
  margin: 0 auto;
  width: 720px;
}

.header {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  width: 100%;
  height:  10vh;
  min-height: 50px;
  background-color: $base-color;
  color: $base-second-color;
}

.header__nav {
  width: 755px;
  margin: 0 auto;
}

.header__ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.header__li {
  margin: 0 20px;
  font-size: 18px;
  a {
    text-decoration: none;
    color: $base-second-color;
  }
  h2 {
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 0.25em;
  }
}

.offer {
  display: flex;
  align-items: center;
  height: 768px;
  background-image: url("../assets/images/offer-back.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: #030303;
}

.card {
  width: 335px;
  background-color: $blocks-background;
  border-radius: 15px;
}

.card__heading {
  padding: 25px 0;
  text-align: center;
  font-size: 20px;
  color: $base-second-color;
}

.card__ul {
  color: $base-second-color;
  list-style: inside;
}

.card__li {
  padding: 0 0 30px 20px;
}

.button {
  border: none;
  border-radius: 10px;
  font-size: 20px;
  background-color: $attention-color;
  color: $base-second-color;
}

.offer__button {
  width: 335px;
  height: 45px;
  margin-top: 25px;
}

.promotion {
  display: flex;
  align-items: center;
  height: 450px;
  background-color: $base-color;
  color: $base-second-color;
  .container {
    display: flex;
  }
}

.promotion__text-block {
  margin-right: 25px;
  max-width: 335px;
  h2 {
    text-align: center;
    padding-bottom: 25px;
  }
}

.promotion__photo-block {
  margin-left: 25px;
  max-width: 335px;
  height: 189px;
}

.reviews {
  display: flex;
  align-items: center;
  height: 920px;
  .container {
    display: flex;
    justify-content: space-between;
  }
}

.user-review {
  width: 195px;
}

.user-review__photo {
  width: 195px;
  height: 195px;
  background-color: #666;
  border-radius: 50%;

}

.user-review__name {
  margin-top: 20px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

.user-review__contact {
  margin-top: 15px;
  text-align: center;
  font-size: 14px;
}

.user-review__text {
  margin-top: 15px;
  text-align: center;
  font-size: 14px;
}

.user-review__review-photo {
  margin-top: 15px;
  width: 195px;
  height: 195px;
}

.description {
  display: flex;
  align-items: center;
  height: 528px;
  color: $base-second-color;
  background-image: url("../assets/images/description-back.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-color:#ffffff;
}

.description-block {
  display: flex;
  justify-content: space-around;
  background-color: $blocks-background;
  border-radius: 15px;
}

.description-block__text-block {
  width: 280px;
}

.description-block__heading {
  padding: 35px 0 20px;
  text-align: center;
}

.description-block__text {
  padding-bottom: 40px;
}

.text-block {
  display: flex;
  align-items: center;
  height: 260px;
  background-color: $base-color;
}

.text-block__text {
  text-align: center;
  font-size: 18px;
  color: $base-second-color;
}

.goods {
  display: flex;
  align-items: center;
  height: 1048px;
  background-image: url("../assets/images/goods-back.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: $base-second-color;

  .container {
    display: flex;
    flex-direction: column;
  }
}

.cards {
  display: flex;
  justify-content: space-between;
}

.product-card {
  width: 215px;
  border: 1px solid #000000;
  border-radius: 15px;
  background-color: #ffffff;
}

.product-card__name {
  padding: 20px 0;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.product-card__photo {
  width: 215px;
  height: 120px;
  background-color: #ffffff;
}

.product-card__param {
  margin-top: 20px;
  margin-left: 30px;
  font-size: 14px;
}

.product-card__param-value {
  margin-left: 30px;
  font-size: 22px;
}

.product-card__param-value:last-child {
  margin-bottom: 20px;
}

.goods__button {
  margin: 0 auto;
  width: 335px;
  height: 45px;
  margin-top: 25px;
}

.footer {
  display: flex;
  align-items: center;
  height: 140px;
  background-color: $base-color;
  color: $base-second-color;
}

.footer__text-block {
  display: flex;
  justify-content: space-between;
}

.footer__text-elem {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.footer__term-of-use {
  a {
    color: $base-second-color;
  }
}
